<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial scale=1">
    <title>CasualDispatch.com - Casual Dispatch Port of Los Angeles/Long Beach Casual Hall Tapeline Information and Updates</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <style>
        body {
            padding: 30px;
            padding-top: 35px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        a {
            color: #00b7ff;
        }

        .style1 {
            color: #0099FF;
            font-weight: normal;
        }
        .style2 {
            color: #006699;
            font-weight: normal;
        }
        .style3 {
            color: #FFFF00;
            font-weight: normal;
        }

    </style>
</head>
<body >
<!--Begin Navbar Header-->
<% include templates/header.ejs %>
<!--main container-->
<div clas="container-fluid" style="margin: 30px">
<div class="row">
    <!--LONG BEACH DIRECTIONS-->
    <div class="col-xs-12 col-sm-5 col-lg-5 col-md-5"><h3>Los Angeles/San Pedro</h3>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            49
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        From the casual hall:<br>

                        <ul>
                            <li>RIGHT on Anaheim</li>
                            <li>Enter 110S towards San Pedro</li>
                            <li>Exit HARBOR BLVD</li>
                            <li>RIGHT on HARBOR</li>
                            <li>Go past 22nd St</li>
                            <li>Look for signs to parking lot.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Panel Break-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            52-55
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>From the casual hall:</p>
                        <ul>
                            <li>RIGHT on Anaheim</li>
                            <li>Enter 110S towards San Pedro</li>
                            <li>Exit HARBOR BLVD.</li>
                            <li>RIGHT on HARBOR</li>
                            <li>Go past 22nd St.</li>
                            <li>Follow Signs<br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Panel Break-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            87-90
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                RIGHT on Anaheim</li>
                            <li>Enter 110S towards San Pedro</li>
                            <li>Exit HARBOR Blvd.</li>
                            <li>RIGHT on HARBOR</li>
                            <li>LEFT into parking lot<br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            91-91
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                RIGHT on Anaheim</li>
                            <li>Take the 110S towards San Pedro</li>
                            <li>Exit HARBOR Blvd.</li>
                            <li>GO STRAIGHT into docks</li>
                            <li>RIGHT on A st.</li>
                            <li>Be ready to show ID at Checkpoint<br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            100 CHINA
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                Right on Anaheim</li>
                            <li>Left on FIGUEROA</li>
                            <li>RIGHT on John Gibson</li>
                            <li>LEFT on FRONT ST.</li>
                            <li>LEFT on KNOLL ST.</li>
                            <li>Parking lot on Right side.<br>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                            110-126 YANG MING
                        </a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Right on Anaheim</li>
                            <li>Left on FIGUEROA</li>
                            <li>RIGHT on John Gibson</li>
                            <li>At police station make <br>
                                Left across train tracks</li>
                            <li>Veer right</li>
                            <li>Left at guard shack</li>
                            <li>Proceed straight until parking lot</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                            130-136 TRAPAC
                        </a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Right on Aneheim</li>
                            <li>LEFT on Figueroa</li>
                            <li>Pass Harry Bridges</li>
                            <li>Trapac guard shack straight ahead</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                            153-155
                        </a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>RIGHT on Anaheim</li>
                            <li>LEFT on Avalon</li>
                            <li>RIGHT on Pier A St.</li>
                            <li>Veer Right</li>
                            <li>Right on Pier A Pl.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                            165-167
                        </a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                RIGHT on Anaheim</li>
                            <li>LEFT on Avalon</li>
                            <li>RIGHT on Harry Bridges</li>
                            <li>LEFT on N. Fries</li>
                            <li>Veer Right onto S. Fries</li>
                            <li>Follow to the end on Falcon St.</li>
                            <li>PARK on right</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                            174-181
                        </a>
                    </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                RIGHT on Anaheim</li>
                            <li>LEFT on Avalon</li>
                            <li>RIGHT on Harry Bridges</li>
                            <li>LEFT on S. Fries</li>
                            <li>Cross Pier A St.</li>
                            <li>PARK on Left</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                            187-194
                        </a>
                    </h4>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                RIGHT on Anaheim</li>
                            <li>LEFT on Avalon</li>
                            <li>Pass  Harry Bridges</li>
                            <li>Go the the end</li>
                            <li>LEFT on Water St.</li>
                            <li>RIGHT on Canal St.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                            195-200
                        </a>
                    </h4>
                </div>
                <div id="collapse12" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                LEFT on Aneheim</li>
                            <li>RIGHT on S. Alameda</li>
                            <li>First Left into parking lot</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!--LONG BEACH DIRECTIONS-->
    <div class="col-xs-12 col-sm-5 col-lg-5 col-md-5">

        <h3>Terminal Island</h3>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                            TI206-209
                        </a>
                    </h4>
                </div>
                <div id="collapse13" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>Pass Intersection</li>
                            <li>ENTER 47 fwy</li>
                            <li>EXIT New Dock St. RIGHT</li>
                            <li>Pass Pier S St.</li>
                            <li>RIGHT into parking lot at STOP SIGN</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                            TI212-222
                        </a>
                    </h4>
                </div>
                <div id="collapse14" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>ENTER 47 fwy</li>
                            <li>EXIT New Dock St. RIGHT</li>
                            <li>Pass Pier S</li>
                            <li>Follow road all the way around and stay left</li>
                            <li>Parking lot at end<br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                            TI225-233 EVERGREEN
                        </a>
                    </h4>
                </div>
                <div id="collapse15" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>ENTER 47 fwy</li>
                            <li>RIGHT on Ocean Blvd.</li>
                            <li>Exit Ferry</li>
                            <li>RIGHT on Terminal Way</li>
                            <li>Pass Earle St. </li>
                            <li>Parking lot immediately on right</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
                            TI301
                        </a>
                    </h4>
                </div>
                <div id="collapse16" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>ENTER 47 fwy</li>
                            <li>RIGHT on Ocean</li>
                            <li>RIGHT on Ferry</li>
                            <li>RIGHT on Terminal Way</li>
                            <li>LEFT on Earle</li>
                            <li>RIGHT on Cannery St.</li>
                            <li>LEFT on Barracuda</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
                            TI302-303 APL
                        </a>
                    </h4>
                </div>
                <div id="collapse17" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li> LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>ENTER 47 fwy</li>
                            <li>RIGHT on Ocean</li>
                            <li>RIGHT on Ferry</li>
                            <li>RIGHT on Terminal Way</li>
                            <li>LEFT on Earle</li>
                            <li>Parking lot at end</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
                            TI302-303 APL DOCKWORK
                        </a>
                    </h4>
                </div>
                <div id="collapse18" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li> LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>ENTER 47 fwy</li>
                            <li>RIGHT on Ocean</li>
                            <li>RIGHT on Ferry</li>
                            <li>Go past Terminal Way</li>
                            <li>Parking lot on right</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">
                            TI400-401 MAERSK
                        </a>
                    </h4>
                </div>
                <div id="collapse19" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>ENTER 47 fwy</li>
                            <li>RIGHT on Ocean</li>
                            <li>LEFT on Navy Way</li>
                            <li>Follow signs to parking lot on right side</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--LONG BEACH DIRECTIONS-->
    <div class="clearfix visibility-lg"></div>
    <div class="col-xs-12 col-sm-5 col-lg-5 col-md-5">
        <h3>Long Beach</h3>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                            LB406 CUT
                        </a>
                    </h4>
                </div>
                <div id="collapse20" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>ENTER 47 fwy</li>
                            <li>RIGHT on Ocean</li>
                            <li>LEFT on Navy Way</li>
                            <li>Continue past Maersk</li>
                            <li>Stay left and go over ramp</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">
                            LB H4 CRUISE
                        </a>
                    </h4>
                </div>
                <div id="collapse21" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                LEFT on Anaheim</li>
                            <li>ENTER 710 fwy South</li>
                            <li>Queen Mary exit and parking</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">
                            LB 6-10
                        </a>
                    </h4>
                </div>
                <div id="collapse22" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                LEFT on Anaheim</li>
                            <li>ENTER 710 fwy South</li>
                            <li>Take Exit 1A toward Queen Mary</li>
                            <li>Merge right onto Pico</li>
                            <li>RIGHT on Harbor Plaza</li>
                            <li>Harbor Plaza becomes Pier F<br>
                            </li>
                            <li>Parking on right</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse23">
                            LB 12-34
                        </a>
                    </h4>
                </div>
                <div id="collapse23" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>Left on Ocean</li>
                            <li>EXIT Pico Ave.</li>
                            <li>Terminal straight ahead</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse24">
                            LB 40-50
                        </a>
                    </h4>
                </div>
                <div id="collapse24" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                LEFT on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>LEFT on Ocean Blvd.</li>
                            <li>Exit Pico Ave.</li>
                            <li>Pass Broadway and RIGHT at Stop Sign</li>
                            <li>LEFT on Pier D St. </li>
                            <li>Look for D30-54</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse25">
                            LB 56-74</a></h4>
                </div>
                <div id="collapse25" class="panel-collapse collapse">
                    <div class="panel-body">MATSON<ul><li>LEFT on Anaheim  </li>
                            <li>RIGHT on 9th St.</li>
                            <li>Veer Right and don't enter the Fwy</li>
                            <li>LEFT on Pico Ave.</li>
                            <li>RIGHT on 7th St.</li>
                            <li>Pier C</li>
                            <li>Show ID at guardshack</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse26">
                            LB 82-83</a>
                    </h4>
                </div>
                <div id="collapse26" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>TOYOTA</p>
                        <ul>
                            <li>LEFT on Anaheim</li>
                            <li>LEFT of Faragut</li>
                            <li>RIGHT on Anaheim Way</li>
                            <li>LEFT after train tracks</li>
                            <li>Go to Pier B St.</li>
                            <li>RIGHT on Edison Ave.</li>
                            <li>PARK on right</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse27">
                            LB 88-96
                        </a>
                    </h4>
                </div>
                <div id="collapse27" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>ZIM</p>
                        <ul>
                            <li>East on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>LEFT on Pier A Way</li>
                            <li>RIGHT on Pier A Plaza</li>
                        </ul>
                        <p>DOCKWORK/RAILS</p>
                        <ul>
                            <li>Park in First Parking Lot on Left Side</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse28">
                            LB 111-127</a>
                    </h4>
                </div>
                <div id="collapse28" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>LUMBAR</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>Take 47 Bridge </li>
                            <li>LEFT to 710</li>
                            <li>EXIT Pier T</li>
                            <li>LEFT on Pier T Way</li>
                            <li>Follow Signs to Parking Lot</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse29">
                            LB 128-140</a>
                    </h4>
                </div>
                <div id="collapse29" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>HANJIN</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>Take 47 over Bridge</li>
                            <li>LEFT towards 710</li>
                            <li>EXIT Pier T</li>
                            <li>RIGHT on Cutter Pl/Skipjack Ave.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse30">
                            HANJIN RAILS</a>
                    </h4>
                </div>
                <div id="collapse30" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                EAST on Anaheim</li>
                            <li>RIGHT on Henry Ford</li>
                            <li>Take 47 over Bridge</li>
                            <li>RIGHT on 47 south towads San Pedro</li>
                            <li>LEFT on Navy Way</li>
                            <li>LEFT on Reeves Ave.</li>
                            <li>RIGHT on Nimitz</li>
                            <li>Follow Road around to parking lot</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse31">
                            LB 204-207</a>
                    </h4>
                </div>
                <div id="collapse31" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Steel Dock</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 FWY South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>Keep right toward Piers F, G, West Pico</li>
                            <li>MERGE to Pico Ave.</li>
                            <li>RIGHT on Harbor Plaza/West Van Camp St.</li>
                            <li>Merges to Pier F</li>
                            <li>Park at the end</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse32">
                            LB 208</a>
                    </h4>
                </div>
                <div id="collapse32" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Cement Dock</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 Fwy South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>Keep right toward Piers F, G, West Pico</li>
                            <li>MERGE to Pico Ave.</li>
                            <li>RIGHT on Harbor Plaza/West Van Camp St.</li>
                            <li>Merges to Pier F</li>
                            <li>Follow signs to F-208</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse33">
                            LB 209</a>
                    </h4>
                </div>
                <div id="collapse33" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>PACIFIC BANANA</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 Fwy South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>Keep right toward Piers F, G, West Pico</li>
                            <li>MERGE to Pico Ave.</li>
                            <li>RIGHT on Harbor Plaza/West Van Camp St.</li>
                            <li>Merges to Pier F</li>
                            <li>Pacific Banana on Left</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse34">
                            LB 210</a>
                    </h4>
                </div>
                <div id="collapse34" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 Fwy South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>Keep right toward Piers F, G, West Pico</li>
                            <li>MERGE to Pico Ave.</li>
                            <li>RIGHT on Harbor Plaza/West Van Camp St.</li>
                            <li>Merges to Pier F</li>
                            <li>Look for Salt Mounds</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse35">
                            LB 211-216</a>
                    </h4>
                </div>
                <div id="collapse35" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>METRO</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 Fwy South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>Keep right toward Piers F, G, West Pico</li>
                            <li>MERGE to Pico Ave.</li>
                            <li>RIGHT on Harbor Plaza/West Van Camp St.</li>
                            <li>Street turns left and parking will be straight ahead</li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse36">
                            LB 227-236</a>
                    </h4>
                </div>
                <div id="collapse36" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>ITS</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 Fwy South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>LEFT to Harbor Scenic Dr.</li>
                            <li>Take Harbor Scenic and Go OVER bridge</li>
                            <li>RIGHT at DEAD END</li>
                            <li>Follow road around to parking lot</li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse37">
                            LB 242 - 245</a>
                    </h4>
                </div>
                <div id="collapse37" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>SSA</p>
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 Fwy South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>LEFT to Harbor Scenic Dr.</li>
                            <li>Take Harbor Scenic and veer right UNDER bridge</li>
                            <li>Follow along the rocks</li>
                            <li>PARKING on right</li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse38">
                            LB 246-270</a>
                    </h4>
                </div>
                <div id="collapse38" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>EAST on Anaheim</li>
                            <li>RIGHT on 710 Fwy South</li>
                            <li>EXIT 1A toward Pier F-J/Queen Mary</li>
                            <li>LEFT to Harbor Scenic Dr.</li>
                            <li>Take Harbor Scenic and veer right UNDER bridge</li>
                            <li>Follow along the rocks</li>
                            <li>CONTINUE towards Guard Shack</li>
                            <li>SHOW ID at Guard Shack</li>
                            <li>PARKING STRAIGHT AHEAD</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<% include templates/scripts.ejs %>
</html>

